body {
    background: lightblue;
}

.App-header {
    background-color: darkblue;
    height: 100px;
    padding: 10px;
    color: white;
  }
  
  .App-title {
    font-size: 2em;
  }
  
  .App-intro {
    font-size: large;
  }